body{
    margin: 0px;
}
h1{
    color: orangered;
    font-family: sans-serif;
}
.soft{
    color: white;
    font-family: system-ui;
    font-size: 20px;
    
}
#content{
    font-style: italic;
    font-size: 17px;
}

.contact
{
    background-color:orangered ;
    
    padding: 10px;
    text-align: center;
    color: white;
}
.img{
    position: relative;
    right: 5px;
    top: 7px;
}
h2{
    color: orangered;
    text-size-adjust:0;
    font-family: sans-serif;
}
h3{

    color: orangered;
    padding-left: 3pc;
}
p{
    padding-left: 5pc;
}
.top
{
    background-color:rgb(22, 21, 21);
    padding: 20px;
    color:white;

}

.contact>a
{
    color: white;
    text-decoration: none;
    padding-right:70px;
}
.content
{
    padding: 10px;
    background-color: white;
}
.content>h2::before{
    
    background-color: orangered;
    content:"\00a0 ";
    padding: 5px;
}
.skills>span
{
    padding: 10px;
    background-color: rgb(22, 21, 21);
    color: white;
    margin-right: 2px;
    margin-left: 3pc;

    border-radius: 5px;
}

.skills
{
    text-align: left;
}
.lang
{
    padding-left: 3pc;
}
.titletxt
{
    color: orangered;
    font-size: 18px;
    margin-left: 25px;
}
.righttxt
{
    float: right;
    color: orangered;
    margin-right: 40px;
}
#fab{
    margin-left: 25px;
}

h4{
    padding-top: 40px;
    margin-left: 50px;
}
















